<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.mayDay.ScheduleMapper">

  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.Schedule">
    <id column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="schedule_title" jdbcType="VARCHAR" property="scheduleTitle" />
    <result column="schdeule_desc" jdbcType="VARCHAR" property="schdeuleDesc" />
    <result column="schedeule_type" jdbcType="INTEGER" property="scheduleType" />
    <result column="schedule_classify" jdbcType="INTEGER" property="scheduleClassify" />
    <result column="schedule_tag" jdbcType="INTEGER" property="scheduleTag" />
    <result column="schedule_url" jdbcType="VARCHAR" property="scheduleUrl" />
    <result column="schedule_photo" jdbcType="VARCHAR" property="schedulePhoto" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="schedule_status" jdbcType="VARCHAR" property="scheduleStatus" />
  </resultMap>

  <select id="getScheduleCount" parameterType="com.songhaozhi.mayday.model.domain.Schedule" resultType="java.lang.String">
     SELECT COUNT(schedule_id) FROM mayday_schedule where user_id = #{userId}
  </select>

  <select id="getScheduleInfo" parameterType="com.songhaozhi.mayday.model.domain.Schedule" resultMap="BaseResultMap">
     SELECT * FROM mayday_schedule where schedule_id = #{scheduleId}
  </select>

  <select id="getScheduleList" parameterType="com.songhaozhi.mayday.model.domain.Schedule" resultMap="BaseResultMap">
     SELECT * FROM mayday_schedule
  </select>

  <delete id="deleteSchedule" parameterType="com.songhaozhi.mayday.model.domain.Schedule">
    delete from mayday_schedule
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSchedule" parameterType="com.songhaozhi.mayday.model.domain.Schedule">
    insert into mayday_schedule (schedule_title, schdeule_desc,
      schedeule_type, schedule_classify, schedule_tag,
      schedule_url, schedule_photo, create_date,
      user_id, schedule_status, schedule_message
      )
    values (#{scheduleTitle,jdbcType=VARCHAR}, #{schdeuleDesc,jdbcType=VARCHAR},
      #{schedeuleType,jdbcType=INTEGER}, #{scheduleClassify,jdbcType=INTEGER}, #{scheduleTag,jdbcType=INTEGER},
      #{scheduleUrl,jdbcType=VARCHAR}, #{schedulePhoto,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{userId,jdbcType=INTEGER}, #{scheduleStatus,jdbcType=VARCHAR}, #{scheduleMessage,jdbcType=LONGVARCHAR}
      )
  </insert>

  <update id="updateSchedule" parameterType="com.songhaozhi.mayday.model.domain.Schedule">
    update mayday_schedule
    set schedule_title = #{scheduleTitle,jdbcType=VARCHAR},
      schdeule_desc = #{schdeuleDesc,jdbcType=VARCHAR},
      schedeule_type = #{schedeuleType,jdbcType=INTEGER},
      schedule_classify = #{scheduleClassify,jdbcType=INTEGER},
      schedule_tag = #{scheduleTag,jdbcType=INTEGER},
      schedule_url = #{scheduleUrl,jdbcType=VARCHAR},
      schedule_photo = #{schedulePhoto,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      schedule_status = #{scheduleStatus,jdbcType=VARCHAR}
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </update>
</mapper>